html,
body {
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 26%;
}

.form button,
.form input {
    width: 100%;
}

.goHome {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    cursor: pointer;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
  }

[data-theme=dark],
.theme-dark {
  body{
    background-color: #1a1b20;
    color: #939bb6;
  }
  button{
    background-color: #121316;
    border: 1px solid #3c3d3f;
    color: #cbcedf;
  }
  footer{
    background-color: #121316;
  }
}

[data-theme=light],
.theme-light {
  body{
    background-color: #b0b4ca;
    color: #222329;
  }
  button{
    background-color: #a1a1be;
    border: 1px solid #0a0e1f;
    color: #222329;
  }
  footer{
    background-color: rgb(142, 146, 167);
  }
  input {
    background-color: #a1a1be;
  }
  ::placeholder {
    color: #5c5f70 !important;
    opacity: 1;
  }
}